
<div id="sidebar" class="sidebar responsive ace-save-state">
    <script type="text/javascript">
                try {
                    ace.settings.loadState('sidebar');
                } catch (e) { }
    </script>

    <ul class="nav nav-list">
        <li class="">
            <a href="javascrip:;" class="dropdown-toggle">
                <i class="menu-icon fa fa-briefcase"></i>
                <span class="menu-text"> Dashboard </span>
            </a>
        </li>
        <li class="">
            <a href="javascrip:;" class="dropdown-toggle">
                <i class="menu-icon fa fa-cart-plus"></i>
                <span class="menu-text"> Sản phẩm </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li><a href="/vi/quan-tri/danh-muc-san-pham/danh-sach">Danh sách nhóm xe</a></li>
                <li><a href="/vi/quan-tri/danh-sach-san-pham/danh-sach">Danh sách sản phẩm</a></li>
            </ul>
        </li>
        <li class="">
            <a href="javascrip:;" class="dropdown-toggle">
                <i class="menu-icon fa fa-newspaper-o"></i>
                <span class="menu-text"> Tin tức </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li><a href="/vi/quan-tri/danh-muc-tin-tuc/danh-sach">Danh mục tin tức</a></li>
                <li><a href="/vi/quan-tri/danh-sach-tin-tuc/danh-sach">Danh sách tin tức</a></li>
            </ul>
        </li>
        <li class="">
            <a href="javascrip:;" class="dropdown-toggle">
                <i class="menu-icon fa fa-file-text-o"></i>
                <span class="menu-text"> Trang tĩnh </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li><a href="/vi/quan-tri/danh-muc-trang-tinh/danh-sach">Danh mục trang tĩnh</a></li>
                <li><a href="/vi/quan-tri/danh-sach-trang-tinh/danh-sach">Danh sách trang tĩnh</a></li>
            </ul>
        </li>
        <li class="">
            <a href="javascrip:;" class="dropdown-toggle">
                <i class="menu-icon fa fa-youtube"></i>
                <span class="menu-text"> Video </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li><a href="/vi/quan-tri/video-categories/index">Danh mục video</a></li>
                <li><a href="/vi/quan-tri/video/index">Danh sách video</a></li>
            </ul>
        </li>
        <li class="">
            <a href="/vi/quan-tri/slide-banner/index">
                <i class="menu-icon fa fa-picture-o"></i>
                <span class="menu-text"> Slide </span>
            </a>
        </li>
        @* <li class="">
            <a href="/vi/quan-tri/image-footer/index">
                <i class="menu-icon fa fa-picture-o"></i>
                <span class="menu-text"> Ảnh Footer </span>
            </a>
        </li>*@
        <li class="">
            <a href="/vi/quan-tri/danh-sach-user/danh-sach">
                <i class="menu-icon fa fa-users"></i>
                <span class="menu-text"> Người dùng </span>
            </a>
        </li>
        <li class="">
            <a href="javascrip:;" class="dropdown-toggle">
                <i class="menu-icon fa fa-flag"></i>
                <span class="menu-text"> Advertisement </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li><a href="/vi/quan-tri/popup-quang-cao/danh-sach">Popup</a></li>
                <li><a href="/vi/quan-tri/ad-left-banner/index">Left Banner</a></li>
                <li><a href="/vi/quan-tri/ad-right-banner/index">Right Banner</a></li>
            </ul>
        </li>
        <li class="">
            <a href="javascrip:;" class="dropdown-toggle">
                <i class="menu-icon fa fa-cog"></i>
                <span class="menu-text"> Setting </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li><a href="/vi/quan-tri/price-option/index">Các thông tin mua xe</a></li>
                <li><a href="/vi/quan-tri/company/index">Thông tin liên hệ</a></li>
                <li><a href="/vi/quan-tri/location-discounts/index">Khu vực đăng ký</a></li>
                <li><a href="/vi/quan-tri/new-left-banner/index">New Left Banner</a></li>
                <li><a href="/vi/quan-tri/new-right-banner/index">New Right Banner</a></li>
            </ul>
        </li>
    </ul><!-- /.nav-list -->

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</div>
