<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>
    <link href="http://hyundaicaudien.vn/vi/san-pham/tucson-2022" rel="canonical" />
    <meta charset="utf-8" />
    <meta name="description"
          content="Review chi tiết Hyundai Tucson 2023- Thiết kế g&#243;c cạnh, trẻ trung, mạnh mẽ Kh&#244;ng gian nội thất ngập tr&#224;n &#225;nh nắng ..." />
    <meta name="keywords" content="Tucson 2023, Hyundai Tucson 2023" />
    <title>Tucson 2023 - Hyundai Cầu Diễn</title>
    <meta name="google-site-verification" content="q5dppm8aZAcA5MNiVAgI8GLetu0KE07IbEfB95Z-oDo" />
    <!-- FACEBOOK OPEN GRAPH -->
    <meta property="fb:app_id" content="1723034651298741">
    <meta property="og:url" name="og:url" content="http://hyundaicaudien.vn/vi/san-pham/tucson-2022">
    <meta property="og:type" name="og:type" content="website">
    <meta property="og:site_name" name="og:site_name" content="HYUNDAICAUDIEN">
    <meta property="og:title" name="og:title" content="Tucson 2023">
    <meta property="og:description" name="og:description"
          content="Review chi tiết Hyundai Tucson 2023- Thiết kế g&#243;c cạnh, trẻ trung, mạnh mẽ Kh&#244;ng gian nội thất ngập tr&#224;n &#225;nh nắng ...">
    <meta property="og:image:url" content="/tempfiles/uploads/logobaiviet/tucson.png" />

    <meta name="viewport" content="width=device-width" />
    <link href="/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link href="/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/icon-hyundai.ico" type="image/x-icon" />
    <link rel="icon" href="/images/icon-hyundai.ico" type="image/x-icon" />



    <link href="/Content/site.css" rel="stylesheet" />
    <link href="/Content/Styles-1.0.1.css" rel="stylesheet" />



    <script src="/Scripts/jquery-1.9.1.min.js"></script>




    <script src="/Scripts/jquery.lazy.min.js"></script>

    <script src="/Scripts/tinymce/jquery.tinymce.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/jasny-bootstrap.min.js"></script>

    <script src="/Scripts/jquery.bxslider.min.js"></script>
    <script src="/Content/fancybox/jquery.fancybox.js"></script>

    <script src="js/scrollmagic/uncompressed/ScrollMagic.js"></script>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open%20Sans">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'
          type='text/css'>

    <link rel="stylesheet" href="/Content/pannellum/pannellum.css" />
    <script type="text/javascript" src="/Content/pannellum/pannellum.js"></script>

    <script src="/Scripts/ie-emulation-modes-warning.js"></script>
    <script src="/Scripts/ie10-viewport-bug-workaround.js"></script>

    <script type="text/javascript">

        function setAdminCurrentUrl(url, parenturl) {

            $('a.submenu[href="' + url + '"]').each(function () {
                $(this).addClass('active');
            });
            $('.navbar-nav a[href="' + parenturl + '"]').each(function () {
                $(this).addClass('active');
            });
        }
        function setServiceUrl(url) {
            //$(".listpage-new li").removeClass('active');
            $('a[href="' + url + '"]').each(function () {

                $(this).closest("h2").closest("li").addClass('active');
            });

        }

        function setUrl(url) {
            //$(".listpage-new li").removeClass('active');
            $('a[href="' + url + '"]').each(function () {

                $(this).closest("h2").closest("li").addClass('active');
            });
        }


    </script>
    <!-- Ants Insight script -->
    <script type="text/javascript">
        var _siteId = "584010439";
        (function () {
            var e = document.createElement("script"); e.type = "text/javascript", e.async = !0, e.src = "//st-a.anthill.vn/insight.js";
            var t = document.getElementsByTagName("script")[0]; t.parentNode.insertBefore(e, t)
        })();
    </script>
    <!-- End of Ants Insight script -->
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '737422260111850');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=737422260111850&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Ads: 730594908 -->
    <!-- Event snippet for Website traffic conversion page -->
    <script>gtag('event', 'conversion', { 'send_to': 'AW-730594908/pzgJCKm-8MkBENz8r9wC' });</script>

    <!-- Global site tag (gtag.js) - Google Ads: 494730855 -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YBJYX4T42K"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-YBJYX4T42K');
    </script>
</head>

<body class="margintop60">

    <div class="row no-margin container" data-spy="affix" data-offset-top="470">






        <div class="col-sm-12 col-md-12 slide-title-header no-padding "
             style="border-bottom:1px solid #959595">
            <ul class="submenu title-detail modernHBold" style="margin:0; text-align:left">
                <a class="on  title-prd hvr-underline-from-left" href="#slide_content01"
                   style="text-transform:uppercase">
                    Nổi bật
                </a>
                <a class="  title-prd hvr-underline-from-left" href="#slide_content02"
                   style="text-transform:uppercase">
                    Ngoại thất
                </a>
                <a class="  title-prd hvr-underline-from-left" href="#slide_content03"
                   style="text-transform:uppercase">
                    Nội thất
                </a>
                <a class="  title-prd hvr-underline-from-left" href="#slide_content04"
                   style="text-transform:uppercase">
                    Vận h&#224;nh
                </a>
                <a class="  title-prd hvr-underline-from-left" href="#slide_content05"
                   style="text-transform:uppercase">
                    An to&#224;n
                </a>
                <a class="  title-prd hvr-underline-from-left" href="#slide_content06"
                   style="text-transform:uppercase">
                    Tiện nghi
                </a>

            </ul>
        </div>
        <script>
            function initSubmenuHighlight() {
                for (var i = 0; i < $(".submenu a").length; i++) {
                    $(".submenu a").eq(i).removeClass("on");
                }
            }

        </script>
        <script>
            $(function () {
                var a = $("#carlist ul").width();
                var vPadding = ($("#carlist").width() - $("#carlist ul").width() - 4) / 2;
                $("#carlist ul").css("padding", "0 " + vPadding + "px");
            });
            $('.to-top').click(function () {
                $('html, body').animate({ scrollTop: 0 }, 800);
                return false;
            });
        </script>

    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.properties-content img').addClass('lazy');
        });
    </script>


    <div class="slide-content" id="slide_content02">
        <div class="container">
            <div class="content_header">
                <div class="titlecate-detail modernHBold" style="text-align:center">
                    NGOẠI THẤT
                </div>

            </div>
        </div>
        <div style="padding-top:20px">
            <div class="image-accordion container" style="padding-top: 20px;">
                <div class="PhiloShowList" style="margin-bottom: 20px;">
                    <div class="item" style="height: auto">
                        <div class="img">
                            <img class="bgCenter responsive-image img-responsive"
                                 src="~/tempfiles/uploads/ngoaithat1.jpg"
                                 alt="Closer view of cascade grille" />
                        </div>
                        <div class="info">
                            <h3 class="subTit" style="word-wrap: break-word;">Mặt trước</h3>
                            <div class="conArea">
                                Ti&ecirc;n phong với thiết kế đ&egrave;n ban
                                ng&agrave;y dạng ẩn gi&uacute;p định hướng phong c&aacute;ch Sensuous
                                Sportiness cho the all-new Tucson
                            </div>
                        </div>
                        <button class="btnShow click-front"></button>
                        <div class="viewArea onload show-front" style="display: none;">
                            <div class="container" style="padding-top: 20px;">
                                <div class="col-xs-6">
                                    <div class="imgArea">
                                        <img class="img-responsive"
                                             src="~/tempfiles/uploads/ngoaithat2.jpg"
                                             alt="Front view of red Elantra Sport" />
                                    </div>
                                    <div class="txtArea">
                                        <h3 class="subTit" style="word-wrap: break-word;">DRL OFF</h3>
                                    </div>
                                    <!-- //.txtArea -->
                                </div>
                                <div class="col-xs-6">
                                    <div class="imgArea">
                                        <img class="img-responsive"
                                                  src="~/tempfiles/uploads/ngoaithat3.jpg"
                                             alt="Closer view of rear corner" />
                                    </div>
                                    <div class="txtArea">
                                        <h3 class="subTit" style="word-wrap: break-word;">DRL ON</h3>
                                    </div>
                                    <!-- //.txtArea -->
                                </div>
                            </div>
                            <div class="container">
                                <div class="col-xs-6">
                                    <div class="imgArea">
                                        <img class="img-responsive"
                                                       src="~/tempfiles/uploads/ngoaithat4.jpg"
                                             alt="Front view of red Elantra Sport" />
                                    </div>
                                    <div class="txtArea">
                                        <h3 class="subTit" style="word-wrap: break-word;">
                                            Đ&egrave;n
                                            chiếu s&aacute;ng Halogen Projector
                                        </h3>
                                    </div>
                                    <!-- //.txtArea -->
                                </div>
                                <div class="col-xs-6">
                                    <div class="imgArea">
                                        <img class="img-responsive"
                                                       src="~/tempfiles/uploads/ngoaithat5.jpg"
                                             alt="Closer view of rear corner" />
                                    </div>
                                    <div class="txtArea">
                                        <h3 class="subTit" style="word-wrap: break-word;">
                                            Đ&egrave;n
                                            chiếu s&aacute;ng LED
                                        </h3>
                                    </div>
                                    <!-- //.txtArea -->
                                </div>
                            </div>
                            <div class="container">
                                <div class="col-xs-6">
                                    <div class="imgArea">
                                        <img class="img-responsive"
                                                      src="~/tempfiles/uploads/ngoaithat6.jpg"
                                             alt="Front view of red Elantra Sport" />
                                    </div>
                                    <div class="txtArea">
                                        <h3 class="subTit" style="word-wrap: break-word;">
                                            Lưới tản nhiệt
                                            sơn đen mờ
                                        </h3>
                                    </div>
                                    <!-- //.txtArea -->
                                </div>
                                <div class="col-xs-6">
                                    <div class="imgArea">
                                        <img class="img-responsive"
                                                src="~/tempfiles/uploads/ngoaithat7.jpg"
                                             alt="Closer view of rear corner" />
                                    </div>
                                    <div class="txtArea">
                                        <h3 class="subTit" style="word-wrap: break-word;">
                                            Lưới tản nhiệt
                                            sơn đen b&oacute;ng chrome
                                        </h3>
                                    </div>
                                    <!-- //.txtArea -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- mặt b&ecirc;n -->
                    </div>
                    <script type="text/javascript">
                        // <![CDATA[
                        $(document).ready(function () {
                            $(".click-front").click(function () {
                                $(".show-front").toggle();
                            });
                            $(".click-side").click(function () {
                                $(".show-side").toggle();
                            });
                            $(".click-rear").click(function () {
                                $(".show-rear").toggle();
                            });
                            $(".btnShow").click(function () {
                                //debugger;
                                $(".btnShow").parent().removeClass('on');
                                if ($(".click-front + .viewArea").css('display') != 'none') {
                                    $(".click-front").parent().addClass('on');
                                }
                                if ($(".click-side + .viewArea").css('display') != 'none') {
                                    $(".click-side").parent().addClass('on');
                                }
                                if ($(".click-rear + .viewArea").css('display') != 'none') {
                                    $(".click-rear").parent().addClass('on');
                                }
                            });
                        });
                        // ]]></script>
                </div>
            </div>
        </div>
    </div>
</body>